<!DOCTYPE html>
<html lang="en">
    <head>
        <style>
            body { font-family: Arial, sans-serif; 
            margin: 05;
            padding: 05;
            }            
            ul {
                list-style-type: none;
                margin: 05;
                padding: 10;
                overflow: hidden;
                background-color: navy;
            }

            li {
                float: right;
            }

            li a {
                display: block;
                color: white;
                text-align: center;
                padding: 16px 15px;
                text-decoration: none;

            }

            li a:hover {
                background-color: black
            }

            img {
                width: 100%;
                margin: 10px;
                border: 1 px solid;
                float: left;
            }
            </style>
</html>